.best-move {
  position: fixed;
  width: 100px;
  height: 100px;
  right: 20px;
  top: 20px;
  color: transparent;
  cursor: pointer;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  xopacity: 0.3;
}

.best-move:hover .miniboard {
  display: none
}

.best-move div {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.best-move:hover {
  opacity: 1;
}

.best-move:hover div {
  color: green;
  background: #999;
}

.best-move:hover div.b {
  background: #222;
  color: red;
}

.best-move:hover div.w {
  background: #eee;
}

.idle .loading {
  display: none;
}

.loading {
  color: #987 !important;
}

/* .chess-ext-hidden-ui {
  display1: none !important;
  width: 0px !important;
  height: 0px !important;
  left: -10000px!important;
  opacity: 0;
} */

.elo-value {
  transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #d3d7da;
}

.elo-bar {
  height: 100%;
  background-color: #404040;
}

.elo-text {
  color: green;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  left: 2px;
  bottom: -20px;
}

.view-as-white {
  background-color: #d3d7da !important;
}

.view-as-white .elo-value {
  background-color: #404040;
}

.miniboard {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -100%;
}