.best-move {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 20px;
    top: 20px;
    color: transparent;
    cursor: pointer;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.3;
}
.best-move div{

    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 500;
}
.best-move:hover {
  opacity: 1;
}
.best-move:hover div{
    color: green;
    background: #999;
}

.best-move:hover div.b{
    background: #222
}
.best-move:hover div.w{
    background: #eee
}

.idle .loading {
  display: none;
}
.loading {
  color: #987 !important;
}